:root {
  --main-font-family: 'Barlow Condensed';
  --secondary-font-family: 'Bellefair';
  --third-font-family: 'Barlow';
  --main-font-color: #ffffff;
  --secondary-font-color: #d0d6f9;
  --third-font-color: #0b0d17;
}

body {
  font-family: var(--main-font-family), sans-serif !important;

  color: var(--main-font-color);
}

#home-page-body {
  background-image: url(/images/home-backgound.jpg);
  background-size: cover;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  width: 1140px;
}

.list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.current {
  border-bottom: 3px solid var(--main-font-color);
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;

  border: 0;
}

/* Header */

.header .container {
  /* position: relative; */
  display: flex;

  align-items: center;
}

.logo {
  margin-top: 64px;
  margin-left: 55px;

  width: 48px;
  height: 48px;

  background-color: var(--main-font-color);
  border-radius: 50%;

  display: inline-block;
}

.logo:hover,
.logo:focus {
  background-color: transparent;

  transition: background-color 0.6s;
}

.logo svg {
  fill: #0b0d17;
}

.logo:hover svg,
.logo:focus svg {
  fill: var(--main-font-color);

  transition: fill 0.6s;
}

.header hr {
  position: absolute;
  top: 88px;
  margin: 0;

  width: 473px;

  background-color: var(--main-font-color);
  mix-blend-mode: normal;
  opacity: 0.25;

  z-index: 2;
}

.navigation {
  position: absolute;
  right: 0;
  top: 40px;
  padding-left: 123px;
  padding-right: 165px;

  width: 830px;

  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}

.nav-list {
  display: flex;

  white-space: nowrap;
}

.nav-list .item {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.19;
  letter-spacing: 2.7px;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .item a {
  padding: 39px 0;

  display: inline-block;

  color: var(--main-font-color);
}

/* Home page */
/* Hero section */

.hero {
  padding-top: 251px;

  font-family: var(--secondary-font-family);

  color: var(--secondary-font-color);
}

.hero .container {
  display: flex;
  justify-content: space-between;
}

.hero .group {
  width: 40%;
}

.hero .section-title {
  margin: 0;
  margin-top: 24px;

  font-weight: 400;
  font-size: 9.375rem;
  line-height: 1.146;

  color: var(--main-font-color);
}

.hero .main-description {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.21;

  letter-spacing: 4.725px;
}

.hero .description {
  margin-top: 24px;

  font-family: var(--third-font-family);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.78;
}

.btn {
  display: inline-block;

  margin-top: 108px;
  padding: 119px 63px;
  width: 274px;
  height: 274px;

  font-weight: 400;
  font-size: 2rem;
  line-height: 1.16;

  border-radius: 50%;

  letter-spacing: 2px;

  color: var(--third-font-color);
  background-color: var(--main-font-color);
}

.btn:hover,
.btn:focus {
  outline: 88px solid rgba(255, 255, 255, 0.1);

  transition: outline 0.5s;
}

/* Destination page */

#destination-page-body {
  background-image: url(/images/destination-background.jpg);
  background-size: cover;
}

.destination {
  padding-top: 114px;

  font-family: var(--main-font-family);

  color: var(--main-font-color);
}

.destination .title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.21;

  letter-spacing: 4.725px;
}

.destination .title::before {
  margin-right: 28px;

  content: '01';

  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.21;

  letter-spacing: 4.725px;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.25;
}

.destination .wrapper {
  padding-bottom: 112px;

  display: flex;
}

.moon-img {
  margin-top: 97px;

  display: inline-block;
}

.destination .group {
  margin-left: auto;

  width: 39%;
}

.planet-list {
  margin-top: 64px;

  display: flex;
}

.planet-list .item {
  padding-bottom: 12px;
}

.planet-list .item:not(.current):hover {
  border-bottom: 3px solid var(--secondary-font-color);

  transition: border-bottom 0.3s;
}

.planet-list .item:not(:last-child) {
  margin-right: 35px;
}

.planet-list .item a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.19;
  letter-spacing: 2.7px;
  color: var(--secondary-font-color);
}

.planet-list .item:first-child a {
  color: var(--main-font-color);
}

.destination .section-title {
  margin-top: 37px;

  font-family: var(--secondary-font-family);

  font-weight: 400;
  font-size: 6.25rem;
  line-height: 1.15;
}

.destination .description {
  margin-top: 14px;
  padding-bottom: 54px;

  font-family: var(--third-font-family);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.78;

  border-bottom: 1px solid #383b4b;

  color: var(--secondary-font-color);
}

.group-footer {
  margin-top: 28px;

  display: flex;
}

.avg-distance {
  margin-right: 79px;
}

.group-footer .footer-description {
  font-weight: 400;
  font-size: 1.143rem;
  line-height: 1.21;
  letter-spacing: 2.3625px;

  color: var(--secondary-font-color);
}

.group-footer .sub-title {
  margin-top: 12px;

  font-family: var(--secondary-font-family);

  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.14;
}

/* Crew page */

#crew-page-body {
  background-image: url(/images/crew-background.jpg);

  background-size: cover;
}

.meet-crew .container {
  padding-top: 76px;

  display: flex;

  justify-content: space-between;
}

.meet-crew .group {
  font-family: var(--secondary-font-family);
}

.meet-crew .title,
.meet-crew .title::before {
  font-family: var(--main-font-family);

  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.21;

  letter-spacing: 4.725px;
}

.meet-crew .title::before {
  margin-right: 24px;

  content: '02';

  mix-blend-mode: normal;
  opacity: 0.25;
}

.meet-crew .main-description {
  margin-top: 152px;

  font-weight: 400;
  font-size: 2rem;
  line-height: 1.16;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.meet-crew .section-title {
  margin-top: 15px;

  font-weight: 400;
  font-size: 3.5rem;
  line-height: 1.14;
  text-transform: uppercase;
}

.meet-crew .description {
  margin-top: 27px;

  font-family: var(--third-font-family);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.78;

  max-width: 429px;

  color: var(--secondary-font-color);
}

.btn-list {
  margin-top: 120px;

  display: flex;
}

.btn-list .item:not(:last-child) {
  margin-right: 24px;
}

.btn-list .item button {
  width: 15px;
  height: 15px;

  border-radius: 50%;

  opacity: 0.17;
}

.btn-list .item .active {
  opacity: 1;
}
